body {
    background-color: rgb(174, 230, 249);
    font-family: Arial, sans-serif;
    margin: 100px 50px;
}

#h21 {
    color: #333;
    text-align: center;
}

#h22 {
    color: #555;
    text-align: center;
}

p {
    line-height: 1.5;
}

.container {
    background-color: rgba(33, 135, 169, 0.463);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container:hover {
    background-color: rgba(4, 94, 127, 0.556);

}